@import url(//db.onlinewebfonts.com/c/b4670d952206c04dca454d29567c5aef?family=Museo+Sans+Rounded+900);
div {
    color: #fff;
    background-color: #fff;
}
ion-content {
    color: #fff;
    background-color: #fff;
}
ion-card {
    font-family: 'Museo Sans Rounded 900';
}
ion-buttons {
    
    margin-top: 5%;
    padding-left: 5%;
}
.icon-padding-right {
    
    padding-left: 70%;
    margin-right: 5%;
}
.icon-padding-left {
    
    margin-top: 5%;
    margin-left: 10%;
}